doctype html
html(lang="ko")
   head
      meta(charset="UTF-8")
      meta(name="viewport", content="width=device-width, initial-scale=1.0")
      link(rel="stylesheet", href="../style/index.css")
      script(src="./js/modules/p5.js")
      title 차트 그리기
   body 
      div#root
         include ./Header.pug
         include ./Container.pug
      script(type="module",src="../js/draws.mjs")
      